h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px 3px black;
    color: goldenrod;
    padding-top: 50px;
    font-size: 75px;
}
.logo {
    margin-top: 100px;


}
h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px black;
    color: goldenrod;
}
#header {
    background-image: url('../images/topper.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
    overflow: hidden;

}
.footer {
    align-items: center;
    font-family: 'Dancing Script', cursive;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-size: larger;
    text-shadow: grey 1px 2px 2px;
}
#footer{
    align-items: center;
    padding-left: 250px;
    margin: 15px;
}
.imagehover:hover{
    opacity: 0.4;
}
.overlay{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: transparent;
    border-style: solid;
    font-weight: bold;
    display:none;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#optionsSmall{
    text-align: left;
    margin: 20px;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
    display: none;
    background-color: cornsilk;
}
#optionsMedium{
    text-align: left;
    margin: 20px;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
    display: none;
    background-color: cornsilk;
}
#optionsLarge{
    text-align: left;
    margin: 20px;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
    display: none;
    background-color: cornsilk;
}

